html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background: #dbe8ef;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  width: 100%;
  height: 75px;
  background: #558C03;
  border-bottom: 5px solid #010D00;
  font-size: 25px;
  font-weight: bold;
  color: #010D00;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 950px) {
  nav {
    font-size: 30px;
  }
}
@media screen and (min-width: 1264px) {
  nav {
    font-size: 35px;
  }
}
nav .logo {
  padding-left: 30px;
  flex-basis: 50%;
}
nav .menu {
  padding-right: 30px;
  text-align: right;
  flex-basis: 50%;
}
nav .menu span {
  font-size: 40px;
  font-weight: 400;
}
@media screen and (min-width: 950px) {
  nav .menu span {
    font-size: 50px;
  }
}
@media screen and (min-width: 1264px) {
  nav .menu span {
    font-size: 55px;
  }
}

header {
  width: 100vw;
  height: 100vh;
  background: url("../assets/img/bg_header.webp") center/cover fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1264px) {
  header .header-box {
    align-items: flex-start;
  }
}
header .header-box h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 70px;
  color: rgb(255, 255, 255);
  user-select: none;
  z-index: 1;
}
@media screen and (min-width: 950px) {
  header .header-box h1 {
    font-size: 70px;
  }
}
@media screen and (min-width: 1264px) {
  header .header-box h1 {
    font-size: 90px;
  }
}
header .header-box::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 13, 0, 0.5);
}
header .header-box a {
  font-size: 30px;
  font-weight: bold;
  line-height: 70px;
  font-style: italic;
  color: #010D00;
  width: fit-content;
  height: fit-content;
  background-color: #558C03;
  margin-top: 30px;
  padding: 1px;
  padding-left: 20px;
  padding-right: 20px;
  border: 5px solid #010D00;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}
header .header-box a:hover {
  background-color: #73be04;
  transform: skewX(-10deg);
}
@media screen and (min-width: 950px) {
  header .header-box a {
    font-size: 45px;
    padding: 3px;
  }
}
@media screen and (min-width: 1264px) {
  header .header-box a {
    font-size: 55px;
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
