html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 200vh;
  background: #f7fcff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  width: 100%;
  height: 75px;
  background-color: rgba(89, 12, 12, 0.5);
  backdrop-filter: blur(20px);
  border-bottom: 5px solid #010D00;
  font-size: 25px;
  font-weight: bold;
  color: white;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 800px) {
  nav {
    font-size: 30px;
  }
}
@media screen and (min-width: 1264px) {
  nav {
    font-size: 35px;
  }
}
nav .logo {
  padding-left: 30px;
  letter-spacing: 10px;
}
nav .menu {
  padding-right: 5vw;
  text-align: right;
}
@media screen and (min-width: 800px) {
  nav .menu {
    padding-right: 160px;
  }
}
nav .menu span {
  font-size: 40px;
  font-weight: 400;
  transition: weight 1s;
  cursor: pointer;
  user-select: none;
}
@media screen and (min-width: 800px) {
  nav .menu span {
    font-size: 50px;
  }
}
@media screen and (min-width: 1264px) {
  nav .menu span {
    font-size: 55px;
  }
}
nav .menu span:hover {
  font-weight: bolder;
}

#nav-box {
  width: 100%;
  min-height: 80px;
  padding: 20px;
  background-color: #590c0c;
  border: 4px solid #010D00;
  font-size: 25px;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  top: -100vh;
  right: 0;
  transition: top 0.5s;
  z-index: 2;
}
@media screen and (min-width: 800px) {
  #nav-box {
    width: 400px;
  }
}
#nav-box .link {
  width: 100%;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid #010D00;
  transition: 0.5s;
}
@media screen and (min-width: 800px) {
  #nav-box .link {
    width: 300px;
  }
}
#nav-box .link:hover {
  background-color: #861212;
}

#nav-box.active {
  top: 73px;
}

header {
  width: 100vw;
  height: 100vh;
  background: url("../assets/img/bg_header.webp") center/cover fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1264px) {
  header .header-box {
    align-items: flex-start;
  }
}
header .header-box h1 {
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  line-height: 70px;
  color: rgb(255, 255, 255);
  user-select: none;
  z-index: 1;
}
@media screen and (min-width: 800px) {
  header .header-box h1 {
    font-size: 70px;
  }
}
@media screen and (min-width: 1264px) {
  header .header-box h1 {
    font-size: 90px;
  }
}
header .header-box::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 13, 0, 0.5);
}
header .header-box a {
  font-size: 30px;
  font-weight: 600;
  line-height: 70px;
  font-style: italic;
  color: #010D00;
  width: fit-content;
  height: fit-content;
  background-color: #558C03;
  margin-top: 30px;
  padding: 1px;
  padding-left: 20px;
  padding-right: 20px;
  border: 5px solid #010D00;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}
header .header-box a:hover {
  background-color: #73be04;
  transform: translateX(20px);
}
@media screen and (min-width: 800px) {
  header .header-box a {
    font-size: 45px;
    padding: 3px;
  }
}
@media screen and (min-width: 1264px) {
  header .header-box a {
    font-size: 55px;
    padding: 5px;
  }
}

section {
  min-height: 75vh;
}
section:nth-of-type(even) {
  background: whitesmoke;
}
section h2 {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding-top: 100px;
}
@media screen and (min-width: 800px) {
  section h2 {
    font-size: 45px;
  }
}
@media screen and (min-width: 1264px) {
  section h2 {
    font-size: 55px;
  }
}
section h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 8px;
}
@media screen and (min-width: 800px) {
  section h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1264px) {
  section h3 {
    font-size: 35px;
  }
}
section p {
  font-weight: 500;
  font-size: 15px;
}
@media screen and (min-width: 800px) {
  section p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1264px) {
  section p {
    font-size: 25px;
  }
}

.menu-box {
  box-shadow: 0 0 10px grey;
  border-radius: 6px;
  transition: 0.5s;
  opacity: 0.8;
  cursor: pointer;
}
.menu-box:hover {
  box-shadow: 0 0 30px grey;
  opacity: 1;
}

.picture {
  height: 160px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.picture1 {
  background: url("../assets/img/pizza1.webp") center/cover;
}

.picture2 {
  background: url("../assets/img/pizza2.webp") center/cover;
}

.picture3 {
  background: url("../assets/img/pizza3.webp") center/cover;
}

.picture4 {
  background: url("../assets/img/pizza4.webp") center/cover;
}

.text {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.container {
  padding: 25px;
}
@media screen and (min-width: 800px) {
  .container {
    width: 740px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1264px) {
  .container {
    width: 1224px;
    margin: 0 auto;
  }
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
  .row {
    flex-direction: row;
  }
}

.collumn {
  width: 100%;
  padding: 20px;
}
@media screen and (min-width: 800px) {
  .collumn-md50 {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 800px) {
  .collumn-md33 {
    flex: 0 0 33.333333%;
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .collumn-md25 {
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 1264px) {
  .collumn-lg50 {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 1264px) {
  .collumn-lg33 {
    flex: 0 0 33.333333%;
  }
}
@media screen and (min-width: 1264px) {
  .collumn-lg25 {
    flex: 0 0 25%;
  }
}

input, textarea, label {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
}

input, textarea {
  border: 2px solid #558C03;
  border-radius: 6px;
  padding: 10px;
  outline: 0;
}
input:focus, textarea:focus {
  border: 2px solid #73be04;
}

#send {
  background: #73be04;
  border: 2px solid black;
  transition: 0.5s;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
}
#send:hover {
  background: #558C03;
  transform: scale(0.9);
}
@media screen and (min-width: 800px) {
  #send {
    width: 50%;
  }
}

textarea {
  resize: none;
}

footer {
  min-height: 12vh;
  background-color: rgba(89, 12, 12, 0.9);
  color: white;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
