*, *::after, *::before {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 200vh;
    background: #dbe8ef;
    overflow-x: hidden;

    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

