*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    background: #010D00;

    font-family: "Roboto", sans-serif;;
}

a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}