@use 'variables' as colors;
@use 'mixins' as m;

%properties {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
}

label {
    @extend %properties;
}

input {
    @extend %properties;
    border: 2px solid colors.$color-bg-link;
    border-radius: 6px;
    padding: 10px;
    outline: 0;

    &:focus {
        border: 2px solid colors.$color-bg-href;
    }

    &[type="submit"] {
        margin-top: 40px;
    }
}

#send {
    background: colors.$color-bg-href;
    border: 2px solid black;
    transition: 0.5s;

    &:hover {
        background: colors.$color-bg-link;
        transform: scale(0.9)
    }
}

textarea {
    @extend input;
    resize: none;
}