@use 'variables' as colors;
@use 'mixins' as m;

.container {
    padding: 25px;

    @include m.md {
        width: 740px;
        margin: 0 auto;
    }

    @include m.lg {
        width: 1224px;
        margin: 0 auto;
    }
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include m.md {
        flex-direction: row;
    }
}

.collumn {
    width: 100%;

    &-md50 {
        padding: 20px;
        flex: 0 0 50%;
    }
}