@use 'variables' as colors;
@use 'mixins' as m;

.container {
    padding: 25px;

    @include m.md {
        width: 740px;
        margin: 0 auto;
    }

    @include m.lg {
        width: 1224px;
        margin: 0 auto;
    }
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include m.md {
        flex-direction: row;
    }
}

.collumn {
    width: 100%;
    padding: 20px;

    &-md50 {
        @include m.md {
            flex: 0 0 50%;
        }
    }
    
    &-md33 {
        @include m.md {
            flex: 0 0 33.333333%;
        }
    }

    &-md25 {
        @include m.md {
            flex: 0 0 25%;
        }
    }

    &-lg50 {
        @include m.lg {
            flex: 0 0 50%;
        }
    }
    
    &-lg33 {
        @include m.lg {
            flex: 0 0 33.333333%;
        }
    }

    &-lg25 {
        @include m.lg {
            flex: 0 0 25%;
        }
    }
}