@use 'variables' as colors;
@use 'mixins' as m;

section {
    min-height: 100vh;

    h2 {
        font-weight: bold;
        font-size: 35px;
        text-align: center;

        padding-top: 100px;

        @include m.md {
            font-size: 45px;
        }

        @include m.lg {
            font-size: 55px;
        }
    }

    h3 {
        font-weight: bold;
        font-size: 20px;
        margin: 8px;

        @include m.md {
            font-size: 30px;
        }

        @include m.lg {
            font-size: 35px;
        }
    }

    p {
        font-weight: 500;
        font-size: 15px;

        @include m.md {
            font-size: 20px;
        }

        @include m.lg {
            font-size: 25px;
        }
    }
}