.menu-box {
    box-shadow: 0 0 10px grey;
    border-radius: 6px;
    transition: 0.5s;
    opacity: .8;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 30px grey;
        opacity: 1;
    }
}

.picture {
    height: 160px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@for $i from 1 through 4 {
    .picture#{$i} {
        background: url('../assets/img/pizza#{$i}.webp') center/cover;
    }
}

.text {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}