@use 'variables' as colors;
@use 'mixins' as m;

#nav-box {
    width: 100%;
    min-height: 80px;
    padding: 20px;
    background-color: colors.$color3;
    border: 4px solid colors.$color1;

    font-size: 25px;
    overflow: hidden;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    top: -100vh;
    right: 0;

    transition: top 0.5s;
    z-index: 2;

    @include m.md {
        width: 400px;
    }

    .link {
        width: 100%;
        height: 50px;
        padding: 5px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        border-top: 2px solid colors.$color1;
        
        transition: 0.5s;

        @include m.md {
            width: 300px;
        }

        &:hover {
            background-color: lighten(colors.$color3, 10);
        }
    }
}

#nav-box.active {
    top: 73px;
}