@use 'reset';

$main-color-dark: rgb(1, 11, 21);
$main-color-light: rgb(241, 248, 255);
$main-color: black;
$theme: 1;

@if ($theme == 0)
    {
        $main-color: $main-color-dark;
    } @else {
        $main-color: $main-color-light;
    }

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    background: $main-color;
    font-family: "Roboto", sans-serif;;
}

header {
    width: 100vw;
    height: 100vh;
    background: url('../assets/img/bg_header.webp') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 3.8rem;
        font-weight: bold;
        color: $main-color-dark;
        text-shadow: 
            0.1rem 0.1rem 0vw $main-color-light,
            0.1rem -0.1rem 0vw $main-color-light,
            -0.1rem 0.1rem 0vw $main-color-light,
            -0.1rem -0.1rem 0vw $main-color-light;
    }
}